body {
    background: -webkit-linear-gradient(360deg, #b6eae1 10%, #D2FBAD 360%);
    font-style: oblique;
}

h1 {
    text-align: center;
}

hr {
    height: .5px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

button:hover {
    cursor: pointer;
}

.my-1 {
    margin-block: 1rem;
}